<section class="product-edit mt-5">
  <div class="container">
    <div class="col-12">
      <div class="tab-panel">
        <tabset class="product-tabset">
          <tab heading="Editar producto">
            <div class="col-lg-8">
              <app-product-form [product]="productFormValues" [brands]="brands" [types]="types"></app-product-form>
            </div>
          </tab>
          <tab heading="Editar fotos">
            <app-edit-product-photos [product]="product"></app-edit-product-photos>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</section>